 <div class="col-md-10">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Pendaftaran Sidang Skripsi</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="namaMhs" class="col-sm-2 control-label">Nama :</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="namaMhs" placeholder="Nama">
                  </div>
                </div>
                <div class="form-group">
                  <label for="nimMhs" class="col-sm-2 control-label">NIM :</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nimMhs" placeholder="NIM anda">
                  </div>
                </div>
                <div class="form-group">
                  <label for="judulSkripsi" class="col-sm-2 control-label">Judul :</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="judulSkripsi" placeholder="Judul Skripsi">
                  </div>
                </div>
                
             

                <div class="form-group">
                  <label for="dosenPem" class="col-sm-2 control-label">Dosen Pembimbing:</label>

                  <div class="col-sm-10">
                  <select class="form-control" id="dosenPem" placeholder="Pilih dosen pembimbing anda">
                    <option>Pak Suprihatin</option>
                    <option>Pak Imam Riadi</option>
                    <option>Bu Ning</option>
                    
                  </select>
              	  </div>
                </div>

              <div class="form-group">
                  <label for="exampleInputFile" class="col-sm-2 control-label">Unggah file berkas anda: </label>
                  <br>
                  <input type="file" id="exampleInputFile">

                  
                </div>
                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
      </div>
