<div class="box">
            <div class="box-header">
              <h3 class="box-title">Jadwal Seminar Kerja Praktik</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tbody><tr>
                  <th>No</th>
                  <th>Nama & NIM</th>
                  <th>Waktu</th>
                  <th>Tempat</th>
                  <th>Penguji</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>Kim Nam Joon (1700016001)</td>
                  <td>Senin, 21 November 2019
                    <p></p>
                    <p>Pukul 08.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. H. Suprihatin, S.Si., M.Kom.
                    <p></p>
                    <p>2. Tawar, S.Si., M.Kom.</p>
                </td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>Kim Soek Jin (1700016013)</td>
                  <td>Selasa, 22 November 2019
                    <p></p>
                    <p>Pukul 10.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. Iwan Tri Riyadi Yanto, S.Si., M.IT
                    <p></p>
                    <p>2. Imam Azhari, S.Si., M.Cs.</p>
                </td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>Min Yoongi (1700016003)</td>
                  <td>Rabu, 23 November 2019
                    <p></p>
                    <p>Pukul 13.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. Adi Nugraha Setiadi, M.Eng.
                    <p></p>
                    <p>2. Iwan Tri Riyadi Yanto, S.Si., M.IT</p>
                </td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>Jung Huseok (1700016004)</td>
                  <td>Kamis, 24 November 2019
                    <p></p>
                    <p>Pukul 09.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. Iwan Tri Riyadi Yanto, S.Si., M.IT
                    <p></p>
                    <p>2. Dr. H. Imam Riadi, S.Pd., M.Kom.</p>
                </td>
                </tr>
                <tr>
                  <td>5.</td>
                  <td>Park Jimin (1700016005)</td>
                  <td>Jum'at, 25 November 2019
                    <p></p>
                    <p>Pukul 14.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. Sri Handayaningsih, S.T., M.T.
                    <p></p>
                    <p>2. Tawar, S.Si., M.Kom.</p>
                </td>
                </tr>
                <tr>
                  <td>6.</td>
                  <td>Kim Taehyung (1700016006)</td>
                  <td>Senin, 28 November 2019
                    <p></p>
                    <p>Pukul 15.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. Adi Nugraha Setiadi, M.Eng.
                    <p></p>
                    <p>2. Dr. H. Imam Riadi, S.Pd., M.Kom.</p>
                </td>
                </tr>
                <tr>
                  <td>7.</td>
                  <td>Jeon Jungkook (1700016007)</td>
                  <td>Selasa, 29 November 2019
                    <p></p>
                    <p>Pukul 08.00 WIB</p>
                  </td>
                  <td>Ruang Prodi SI</td>
                  <td>1. H. Suprihatin, S.Si., M.Kom.
                    <p></p>
                    <p>2. Imam Azhari, S.Si., M.Cs.</p>
                </td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>