<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Faris Ahmad N</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a routerLink="./layout/user" routerLinkActive="active">
          <i class="fa fa-user"></i><span>User Authentification</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/dashboarduser" routerLinkActive="active">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./dashboarduser/dashboardkaprodi" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Dashboard Kaprodi</span>
        </a>
      </li>
      <li>
        <a routerLink="./dashboarduser/hasilpemantauanmhs" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i><span>Hasil Pemantauan Mahasiswa</span></a>
      <li>
        <a routerLink="./dashboarduser/dashboardmahasiswa" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Dashboard Mahasiswa</span>
        </a>
      </li>
      <li>
        <a routerLink="./dashboarduser/dashboarddosen" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Dashboard Dosen</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./kerjapraktek" routerLinkActive="active">
          <i class="fa fa-files-o"></i>
          <span>Kerja Praktek</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>
      <li>
        <a routerLink="./kerjapraktek/pemantauankp" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Pemantauan Kerja Praktek</span>
        </a>
      </li>
      <li>
        <a routerLink="./kerjapraktek/pendaftarankp" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Pendaftaran Kerja Praktek</span>
        </a>
      </li>
       <li>
        <a routerLink="./kerjapraktek/pendaftaranseminar" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Pendaftaran Seminar KP</span>
        </a>
      </li>
       <li>
        <a routerLink="./kerjapraktek/penjadwalanseminar" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Penjadwalan Seminar KP</span>
        </a>
      </li>
      <li>
        <a routerLink="./kerjapraktek/verifikasikp" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Verifikasi Laporan</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./skripsi" routerLinkActive="active">
          <i class="fa fa-pie-chart"></i>
          <span>Skripsi</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">new</span>
          </span>
        </a>
      </li>
      <li>
        <a routerLink="./skripsi/pemantauanskripsi" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Pemantauan Skripsi</span>
        </a>
      </li>
      <li>
        <a routerLink="./skripsi/pendaftaranskripsi" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Pendaftaran Skripsi</span>
        </a>
      </li>
      <li>
        <a routerLink="./skripsi/pendaftaransidang" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Pendaftaran Sidang Skripsi</span>
        </a>
      </li>
            <li>
        <a routerLink="./skripsi/penjadwalansidang" routerLinkActive="active">
          <i class="fa fa-money-bill-wave"></i> <span>Penjadwalan Sidang Skripsi</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-calendar"></i> <span>Log out</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>