<div class="container-fluid">
  
    <div class="box box-primary">
        <div class="box-header with-border">
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  
  <h1>Pendaftaran Seminar KP</h1> 



<div class="row">
			
  <div class="col-md-2">
    ID Pendaftaran:<br />
    <strong>
      1328
    </strong>
  </div>
  <div class="col-md-2">
    NIM:
    <strong><br />
      1700016016
    </strong>
  </div>
  <div class="col-md-3">
    Nama Lengkap :
    <strong><br />
      Dika Adhytama Syafriannur
    </strong>
  </div>
  </div>

  <br>
  <div class="form-group">
      <label for="exampleFormControlInput1">JUDUL KP</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>

  <h4>
    Lampiran :
  </h4><br>
  
  <div>
    <form>
    <div class="form-group col-md-3">
      <label for="exampleFormControlFile1">KTM</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
      <p class="help-block">*Tipe file PDF dan maksimal 2MB</p>
    </div>

    <div class="form-group col-md-3">
        <label for="exampleFormControlFile2">Transkrip Nilai</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile2">
        <p class="help-block">*Tipe file PDF dan maksimal 2MB</p>
      </div>

      <div class="form-group col-md-3">
          <label for="exampleFormControlFile3">Kartu Bimbingan</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile3">
          <p class="help-block">*Tipe file PDF dan maksimal 2MB</p>
        </div>
        
        <div class="form-group col-md-3">
            <label for="exampleFormControlFile4">Laporan KP</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile4">
            <p class="help-block">*Tipe file PDF dan maksimal 2MB</p>
          </div>
          
          <div class="form-group col-md-3">
              <label for="exampleFormControlFile5">Bukti Pembayaran</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile5">
              <p class="help-block">*Tipe file PDF dan maksimal 2MB</p>
            </div>

            <div class="form-group col-md-9">
                <label for="exampleFormControlFile6">KRS</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile6">
                <p class="help-block">*Tipe file PDF dan maksimal 2MB</p>
              </div>

  </form>
</div>

<br>
<div class="box-footer">
    <button type="submit" class="btn btn-success">SIMPAN</button>
    <button type="submit" class="btn btn-danger">BATAL</button>
</div>
</div>


</div>
