<div class="row">
  <div class="col-md-17">

    <!-- Menu -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Form Pendaftaran</a></li>
        <li><a href="#tab_2" data-toggle="tab">Rincian Data</a></li>
    <!-- Sub Menu -->
    </ul>
      <div class="tab-content">

        <!-- Sub Menu Pemberitahuan -->

        <div class="tab-pane active" id="tab_1">

          <div class="box-header with-border">
          <form class="form-horizontal">
              <div class="box-body">

                <div class="form-group">
                  <label for="nim" class="col-sm-2 control-label" style="text-align: left;">NIM </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nim" placeholder="Masukkan NIM">
                  </div>
                </div>

                <div class="form-group">
                  <label for="nama" class="col-sm-2 control-label" style="text-align: left;">Nama </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nama" placeholder="Masukkan Nama">
                  </div>
                </div>

                <div class="form-group">
                  <label for="prodi" class="col-sm-2 control-label" style="text-align: left;">Prodi </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="prodi" placeholder="Masukkan Nama Prodi">
                  </div>
                </div>

                <div class="form-group">
                  <label for="tema" class="col-sm-2 control-label" style="text-align: left;">Judul </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="tema" placeholder="Masukkan Tema/Judul">
                  </div>
                </div>

                <div class="form-group">
                  <label for="tempat" class="col-sm-2 control-label" style="text-align: left;">Tempat </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="tempat" placeholder="Masukkan Tempat/Instansi">
                  </div>
                </div>

                <div class="form-group">
                  <label for="tanggal" class="col-sm-2 control-label" style="text-align: left;">Tanggal </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="tanggal" placeholder="Masukkan Tanggal Pelaksanaan">
                  </div>
                </div>

                <div class="form-group">
                  <label for="nomor" class="col-sm-2 control-label" style="text-align: left;">No.HP</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nomor" placeholder="Masukkan No.HP">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Daftar</button>
              </div>
            </form>
            </div>

        </div>

              <!-- Pemberitahuan Berkas-->
              <div class="tab-pane" id="tab_2">
                
                    <div class="box box-default">
                      <div class="box-header with-border">
                      </div>
                      <!-- /.box-header -->
                      
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <td>No</td>
                            <td>NIM</td>
                            <td>Nama</td>
                            <td>Prodi</td>
                            <td>Judul/Tema</td>
                            <td>Tempat/Instansi</td>
                            <td>Tanggal Pelaksanaan</td>
                            <td>No.HP</td>
                          </tr>
                          <tr>
                            <td>1.</td>
                            <td>1700016009</td>
                            <td>Mega</td>
                            <td>Sistem Informasi</td>
                            <td>Projek RPL</td>
                            <td>Universitas Ahmad Dahlan</td>
                            <td>3 November - 2 Desember 2019</td>
                            <td>081 xxx xxx xxx</td>
                          </tr>
                        </tbody>
                      </table>
                    </div> 
                    <div class="box-footer">
                      <button type="submit" class="btn btn-info pull-right">Simpan</button>
                      <button type="submit" class="btn btn-info pull-right">Ubah</button>
                    </div>
                    <!-- /.box -->
                </div>

              </div>
             
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->