<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">Home</a></li>
    <li><a data-toggle="tab" href="#tab2">Data Mahasiswa</a></li>
    <li><a data-toggle="tab" href="#tab3">Data Dosen</a></li>
  </ul>

<div class="tab-content">
	<div id="tab1" class="tab-pane fade">
        	<div class="container">  
        		<section class="content">
      <div class="row">
        <div class="col-md-6">
          <!-- AREA CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Grafik Skripsi</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="areaChart" style="height: 250px; width: 514px;" height="250" width="514"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Grafik Kerja Praktik</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <canvas id="pieChart" style="height: 257px; width: 514px;" height="257" width="514"></canvas>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (LEFT) -->
        
        <!-- /.col (RIGHT) -->
      </div>
      <!-- /.row -->

    </section>
 			</div>
	</div>
	<div id="tab2" class="tab-pane fade">
        	<div class="container">
        	<div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Mahasiswa</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 82px;">NIM</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width:150px;">NAMA</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 90px;">ANGAKTAN</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 100px;">SKRIPSI</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 100px;">KERJA PRAKTEK</th></tr>
                </thead>
                <tbody> 
                	<tr role="row" class="odd" *ngFor="let n of dataSource;">
	                  <td class="sorting_1">{{n.nim}}</td>
	                  <td>{{n.nama}}</td>
	                  <td>{{n.angkatan}}</td>
	                  <td>{{n.skripsi}}</td>
	                  <td>{{n.kp}}</td>
	              	</tr>
	          </tbody>
                
              </table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div></div>
            </div>
            <!-- /.box-body -->
          </div>  
 			</div>
		</div>
     	<div id="tab3" class="tab-pane fade">  
			<div class="container">
				<div class="col-md-6">
              <!-- USERS LIST -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Dosen Program Studi</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger">Dosen</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/bu-ning.jpg" alt="User Image">
                      <a class="users-list-name" href="#"> Sri Handayaningsih, S.T., M.T.</a>
                      <span class="users-list-date">sriningsih@tif.uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/pak-arif-1.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Arif Rahman, S.Kom., M.T</a>
                      <span class="users-list-date"> arif.rahman@is.uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/Imam_Azhari.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Imam Azhari, S.Si., M.Cs.</a>
                      <span class="users-list-date">azhari@uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/imamriadi.jpg" alt="User Image">
                      <a class="users-list-name" href="#">  Dr. Imam Riadi, S.Pd., M.Kom.</a>
                      <span class="users-list-date">imam_riadi@uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/iwn.png" alt="User Image">
                      <a class="users-list-name" href="#">  Iwan Tri Riyadi Yanto, S.Si., M.I.T</a>
                      <span class="users-list-date"> yanto.itr@is.uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/MursidWH.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Mursid W Hananto, S.Si., M.Kom.</a>
                      <span class="users-list-date">mursid@is.uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/Suparihatin.png" alt="User Image">
                      <a class="users-list-name" href="#">Suprihatin, S.Si., M.Kom.</a>
                      <span class="users-list-date">pakprih@yahoo.co.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/tawar.jpg" alt="User Image">
                      <a class="users-list-name" href="#">  Tawar, S.Si., M.Kom.</a>
                      <span class="users-list-date">tawar@uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/frd.png" alt="User Image">
                      <a class="users-list-name" href="#"> Farid Suryanto, S.Pd., M.T</a>
                      <span class="users-list-date">farid.suryanto@is.uad.ac.id</span>
                    </li>
                    <li>
                      <img src="https://is.uad.ac.id/wp-content/uploads/adi-nugroho.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Adi Nugraha Setiadi, M.Eng.</a>
                      <span class="users-list-date">adi.nugraha@is.uad.ac.id</span>
                    </li>
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>
			</div> 
		</div>

  		
</div>

</body>
</html>

