
      <div class="row">
        <div class="col-md-14">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Upload Laporan Kerja Praktek</a></li>
              <li><a href="#tab_2" data-toggle="tab">Nilai Laporan Kerja Praktek</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                 <h1>Upload Laporan Kerja Praktek</h1> 

<br>

<div class="col">
      
  <div class="row-md-2">
    ID Pendaftaran :<br />
    <strong>
      1326
    </strong>
  </div>
  <br />
  <div class="row-md-2">
    NIM :
    <strong><br />
      1700016019
    </strong>
  </div>
  <br/>
  <div class="row-md-3">
    Nama Lengkap : 
    <strong><br />
      Adinda Cintya Nur Hidayah
    </strong>
  </div>
  </div>

  <br>
  <div class="form-group">
      <label for="exampleFormControlInput1">JUDUL KP</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    
  <div class="form-group">
      <label>Tahun</label>
        <select class="form-control select2" style="width: 100%;">
          <option selected="selected">2019</option>
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
        </select>
  </div>
  
  <div>
    <form>
    
        <div class="form-group">
            <label for="exampleFormControlFile1">Laporan KP</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile4">
          </div>
          
          

  </form>
</div>

<br>
<br>
<br>
<div align="right">
    <button type="submit" class="btn btn-success">SIMPAN</button>   
    <button type="button" class="btn btn-danger">BATAL</button>
</div>

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <h1>Hasil Kerja Praktek</h1>
                <br>

<div class="col">
      
  <div class="row-md-2">
    ID Pendaftaran :<br />
    <strong>
      1326
    </strong>
  </div>
  <br />
  <div class="row-md-2">
    NIM :
    <strong><br />
      1700016019
    </strong>
  </div>
  <br/>
  <div class="row-md-3">
    Nama Lengkap : 
    <strong><br />
      Adinda Cintya Nur Hidayah
    </strong>
  </div>
  <br/>
  <div class="row-md-3">
    Program Studi : 
    <strong><br />
      Sistem Informasi
    </strong>
  </div>
  </div>


<br>
              <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                  </div>
                </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Judul Laporan</th>
                  <th>Tanggal Verifikasi</th>
                  <th>Dosen Pembimbing</th>
                  <th>Status</th>
                  <th>Nilai</th>
                </tr>
                
                <tr *ngFor="let n of dataSource;">
                  <td>{{n.judul}}</td>
                  <td>{{n.tgl_verifikasi}}</td>
                  <td>{{n.dosen_pembimbing}} </td>
                  <td><span class="label label-success">{{n.status}}</span></td>
                  <td>{{n.nilai}}</td>
                </tr>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>