<div class="login-box">
  <div class="login-logo">
    <a><b>REGISTER</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Buat akun baru untuk masuk ke portal<b>SIM</b></p>

    <form>
      <div class="form-group has-feedback">
      	<p>Nama</p>
        <input type="email" class="form-control" placeholder="name">
      </div>
      <div class="form-group has-feedback">
      	<p>NIM</p>
        <input type="text" class="form-control" placeholder="nim">
      </div>
      <div class="form-group has-feedback">
      	<p>Kata Sandi</p>
        <input type="password" class="form-control" placeholder="Password">
        
      <div class="row">
   <div class="col-md-12">
      <form class="form-horizontal" method="post" action="https://portal.uad.ac.id/jadwal/Prodi/index" role="form">
                <p>Fakultas</p>
                  <select class="form-control col-md-3" name="fakultas" style="width:280px;" >
                           <option value="">-- Pilih Fakultas --</option>
                           <option value="==" >Fakultas Sains Dan Teknologi Terapan</option>
                           <option value="==" >Fakultas Farmasi</option>
                           <option value="==" >Fakultas Teknologi Industri</option>
                           <option value="==" >Fakultas Kesehatan Masyarakat</option>
                           <option value="==" >Fakultas Keguruan dan Ilmu Pendidikan</option>
                           <option value="==" >Fakultas Hukum</option>
                           <option value="==" >Fakultas Sastra</option>
                           <option value="==" >Fakultas Agama Islam</option>
                           <option value="==" >Fakultas Ekonomi</option>
                           <option value="==" >Fakultas Psikologi</option>
                           <option value="==" >Pascasarjana</option>                     
                        </select>

               <p>Program Studi</p>

                  <select class="form-control col-md-3" name="prodi" style="width:280px;" >
                              <option value="==" >-- Pilih Program Studi --</option>
                              <option value="==" >Sistem Informasi</option>
                              <option value="==" >Fisika</option>
                              <option value="==" >Biologi</option>
                              <option value="==" >Matematika</option>                     
                           </select>
                
      </form>
   </div>
</div>

      </div>

      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block btn-flat" (click)="login()">Daftar</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-block btn-flat" (click)="kembali()">kembali</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>