<div class="login-box">
  <div class="login-logo">
    <a><b>Forget Password</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p>masukan alamat email atau username untuk mereset sandi akun portal<b>SIM</b>?</p>

    <form>
      <div class="form-group has-feedback">
      	<p>Alamat Email/Username</p>
        <input type="email" class="form-control" placeholder="alamat email/username">
      </div>

      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-7">
          <button class="btn btn-primary btn-block btn-flat" (click)="kembali()">KIRIM ULANG KATA SANDI</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-block btn-flat" (click)="kembali()">kembali</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>