<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-5">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<ul class="pagination pagination-sm no-margin right">
<div class="box-footer clearfix">
<div class="box">
<div class="box">
	<div class="box-header">
	<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#tab1">Jadwal sidang Skripsi</a></li>
	<li><a data-toggle="tab" href="#tab2">Pengumuman sidang skripsi</a></li>
</ul>
	<div class="tab-content">
      <div id="tab1" class="tab-pane fade in active"> 
      	<div class="container">
		<table class="table table-codensed">
		<tbody><tr>
				  <th scope="col">No</th>
				  <th scope="col">NIM</th>
				  <th scope="col">Nama</th>
				  <th scope="col">Waktu & Tempat</th>
				  <th scope="col">Penguji</th>
			</tr>
			<tr>
			  <th scope="row">1</th>
			  <td>1700016078</td>
			  <td>Arvian Tri Basofi</td>
			  <td>Senin, 4 November 2019, 08.30 , Ruang Prodi SI</td>
			 <td>1. Farid Suryanto S.Pd, M.T
			 	<p></p>
			  <p>2. Farid Suryanto S.Pd, M.T</p>
			  </td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>1700016014</td>
			  <td>Angelin Francisca Tamara</td>
			  <td>Senin, 4 November 2019, 08.30 , Ruang Prodi SI</td>
			  <td>1. Farid Suryanto S.Pd, M.T
			 	<p></p>
			  <p>2. Farid Suryanto S.Pd, M.T</p>
			  </td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>1700016025</td>
			  <td>Dian Pertiwi</td>
			  <td>Senin, 4 November 2019, 10.30 , Ruang Prodi SI</td>
			  <td>1. Farid Suryanto S.Pd, M.T
			 	<p></p>
			  <p>2. Farid Suryanto S.Pd, M.T</p>
			  </td>
			</tr>
			  </tbody>
		</table>
		<div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
</div>
</div>
</div>

<div id="tab2" class="tab-pane fade">
        <div class="container">
   <div class="table-responsive">
    <table class="table table-bordered">
    <tbody>
 <tr>
				  <th scope="col">No</th>
				  <th scope="col">NIM</th>
				  <th scope="col">Nama</th>
				  <th scope="col">Penguji</th>
				  <th scope="col">Status Ujian</th>
			</tr>
			<tr>
			  <th scope="row">1</th>
			  <td>1700016078</td>
			  <td>Arvian Tri Basofi</td>
			 <td>1. Farid Suryanto S.Pd, M.T
			 	<p></p>
			  <p>2. Farid Suryanto S.Pd, M.T</p>
			  </td>
			  <td>Lulus</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>1700016014</td>
			  <td>Angelin Francisca Tamara</td>
			  <td>1. Farid Suryanto S.Pd, M.T
			 	<p></p>
			  <p>2. Farid Suryanto S.Pd, M.T</p>
			  </td>
			  <td>Lulus</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>1700016025</td>
			  <td>Dian Pertiwi</td>
			  <td>1. Farid Suryanto S.Pd, M.T
			 	<p></p>
			  <p>2. Farid Suryanto S.Pd, M.T</p>
			  </td>
			  <td>Lulus</td>
			</tr>
			  </tbody>
		</table>
		<div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
</div>
</div>
</div>
</div>
</div>
</div>