<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">Pendaftaran Skripsi</a></li>
    <li><a data-toggle="tab" href="#tab2">Data Mahasiswa</a></li>
  </ul>

<div class="tab-content">
      <div id="tab1" class="tab-pane fade in active">  
<div class="container">
 <form action="/pendaftaranskripsi.component.html">
    <div class="form-group">
    <label for="nim">Nim : 1700016030</label>
  </div>
  
    <div class="form-group">
    <label for="nama">Nama : Anggi Tri Lestari</label>
  </div>
  
    <div class="form-group">
    <label for="prodi">Program Studi : Sistem Informasi</label>
  </div>

    <div class="form-group">
    <label for="tema">Tema/Judul : </label>
    <input type="text" class="form-control" id="tema">
  </div>

    <div class="form-group">
    <label for="instansi">Tempat/Instansi :</label>
    <input type="text" class="form-control" id="instansi">
  </div>

    <div class="form-group">
    <label for="alamat">Alamat Tempat Instansi :</label>
    <textarea cols="22" rows="3" class="form-control" id="alamat"></textarea>
  </div>

    <div class="form-group">
    <label for="tglpelaksanaan">Tanggal Pelaksanaan :</label>
    <input type="Date" class="form-control" id="tglpelaksanaan">
  </div>

    <div class="form-group">
    <label for="nohp">No HP :</label>
    <input type="number" class="form-control" id="nohp">
  </div>

    <div class="form-group">
    <label for="email">E-Mail :</label>
    <input type="email" class="form-control" id="email">
  </div>
  <br>
  
  <button type="submit" class="btn btn-success" >Daftar</button>

    </form>
</div> 
</div>

   <div id="tab2" class="tab-pane fade">
        <div class="container">
   <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> ID </th>
          <th>Nama</th>
          <th>Nim</th>
          <th>Program Studi</th>
          <th>Tema/Judul</th>
          <th>Tempat/Instansi</th>
          <th>Tanggal Pelaksanaan</th>
          <th>No Hp</th>
          <th>Keterangan</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of dataSource;">
          <td> {{n.id}} </td>
          <td> {{n.nim}} </td>
          <td> {{n.nama}} </td>
          <td> {{n.prodi}} </td>
          <td> {{n.judul}} </td>
          <td> {{n.instansi}} </td>
          <td> {{n.tgl_pelaksanaan}} </td>
          <td> {{n.no_hp}} </td>
          <td> {{n.keterangan}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</body>
</html>