<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-5">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div class="box">
<div class="box">
	<div class="box-header">
	<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#tab1">Upload Pengerjaan</a></li>
	<li><a data-toggle="tab" href="#tab2">Progres pengerjaan</a></li>
</ul>
<div class="tab-content">
      <div id="tab1" class="tab-pane fade in active"> 
      	<div class="container">
<div class="container-fluid">
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  
  <h1>Monitoring Kerja Praktek</h1> 
<div class="row">
			
  <div class="col-md-2">
    ID Pendaftaran:<br />
    <strong>
      1328
    </strong>
  </div>
  <div class="col-md-2">
    NIM:
    <strong><br />
      1700016060
    </strong>
  </div>
  <div class="col-md-3">
    Nama Lengkap :
    <strong><br />
      Suryanto
    </strong>
  </div>
  </div>

  <br>
  <h3>
    Judul KP : Monitoring pengerjaan kp
  </h3>
  <h4>
    Lampiran :
  </h4><br>
  
  <div>
    <form>
    <div class="form-group col-md-3">
      <label for="exampleFormControlFile1">Progres pengerjaan setiap minggu</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div>
    <button type="submit" class="btn btn-success">SIMPAN</button>
    <button type="submit" class="btn btn-info">DOWNLOAD</button>
    <button type="button" class="btn btn-danger">BATAL</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


      <div id="tab2" class="tab-pane fade in active"> 
      	<div class="container">
		<table class="table table-codensed">
		<tbody><tr>
				  <th scope="col">No</th>
				  <th scope="col">NIM </th>
				  <th scope="col">Nama peserta</th>
				  <th scope="col">Judul KP</th>
				  <th scope="col">Periode</th>
				  <th scope="col">Persentase</th>
				  <th scope="col">Rencana Kerja</th>
				  <th scope="col">Sudah</th>
				  <th scope="col">Belum</th>
			</tr>
			<tr>
			  <th scope="row">1</th>
			  <td>1700016060</td>
			  <td>Suryanto</td>
			  <td>Monitoring pengerjaan kp</td>
			  <td>05 November 2019-06 Desember 2019</td>
			  <td>60 %</td>
			  <td>10</td>
			  <td>6</td>
			  <td>4</td>
			</tr>
			  </tbody>
		</table>
		<div class="progress-group">
                    <span class="progress-text">Progress</span>
                    <span class="progress-number"><b>60</b>/100</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>