<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SIM</b> KP & Skripsi</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Selamat Datang di Portal <b>SIM</b></p>

    
      <div class="form-group has-feedback">
        <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                <input type="checkbox"
                  style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
                  class="iCheck-helper"
                  style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
              </div> Inggatkan Saya!
            </label>
          </div>
        </div>
          <!-- /.col -->

          <button class="btn btn-primary btn-block btn-flat" (click)="login(user)">Sign In</button>
          <button class="btn btn-block btn-flat" (click)="register()">Register</button>

          <!-- /.col -->
      </div>
    <br>
    <p>Lupa kata sandi anda ?<br>Silahkan klik <button class="btn-link" (click)="forget()" >URL ini</button> untuk mereset kata sandi.</p>
  
  <!-- /.login-box-body -->
</div>