<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div>
  <strong>Copyright © 2019<a href="https://adminlte.io">SIM KP & SKripsi</a>.</strong> All rights
  reserved.
</footer>