<div class="row">
  <div class="col-md-17">

    <!-- Menu -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="box-header"><h3><b>Profile</b></h3></li>
        <li class="pull-right"><a href="#tab_3" data-toggle="tab">Ubah Kata Sandi</a></li>
        <li class="pull-right"><a href="#tab_2" data-toggle="tab">Akun</a></li>
        <li class="pull-right active"><a href="#tab_1" data-toggle="tab">Biodata </a></li>

    <!-- Sub Menu -->
    </ul>
      <div class="tab-content">

        <!-- Sub Menu Pemberitahuan -->

        <div class="tab-pane active" id="tab_1">

            <div class="box-header with-border">
            <form class="form-horizontal">
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                      <li>
                        <img src="assets/dist/img/nayeon.jpg" class="img-circle" alt="User Image">
                      </li>                      
                    </ul>
                      <p>
                        Nayeon - Twice
                       <small>Member cutenes</small>
                      </p>
                </div>

                  <div class="box-header with-border">
                  </div>

                <div class="box-body">
  
                  <div class="form-group">
                    <label for="nim" class="col-sm-2" style="text-align: left;">NIM </label>
                    <div class="col-sm-10">
                        <p>
                          1700016018
                        </p>
                    </div>
                  </div>
  
                  <div class="form-group">
                      <label for="nim" class="col-sm-2" style="text-align: left;">Nama </label>
                      <div class="col-sm-10">
                          <p>
                            Im Na Yeon
                          </p>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="nim" class="col-sm-2" style="text-align: left;">Prodi </label>
                        <div class="col-sm-10">
                            <p>
                              Sistem Informasi
                            </p>
                        </div>
                   </div>

                   <div class="form-group">
                      <label for="nim" class="col-sm-2" style="text-align: left;">Tempat Lahir </label>
                      <div class="col-sm-10">
                          <p>
                            Gangdong-gu, Seoul, Korea Selatan
                          </p>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="nim" class="col-sm-2" style="text-align: left;">Tanggal Lahir </label>
                        <div class="col-sm-10">
                            <p>
                              22 September 199*
                            </p>
                        </div>
                    </div>

                      <div class="form-group">
                          <label for="nim" class="col-sm-2" style="text-align: left;">No Handpone </label>
                          <div class="col-sm-10">
                              <p>
                                0895388977***
                              </p>
                          </div>
                     </div>


                </div>
              </form>
              </div>
  
          </div>

              <!-- Pemberitahuan Berkas-->
              <div class="tab-pane" id="tab_2">
                
                  <div class="box-header with-border">
                      <form class="form-horizontal">
                          <div class="box-body">
            
                            <div class="form-group">
                              <label for="email" class="col-sm-2 control-label" style="text-align: left;">Email</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" value="Nayeoncute@gmail.com">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="num" class="col-sm-2 control-label" style="text-align: left;">No Handpone</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="num" value="0895388977***">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label" style="text-align: left;" for="exampleFormControlFile2">Foto Profile</label>
                               <div class="col-sm-10">
                                <input type="file" class="form-control-file" id="exampleFormControlFile2">
                                  <p class="help-block">File bertipe JPG/JPEG/PNG/GIF dan maksimal 2MB</p>
                              </div>
                            </div>
                          </div>

                            <div class="box-footer">
                              <button type="submit" class="pull-left btn btn-success pull-right"><i class="glyphicon glyphicon-user"></i>Ubah Profile</button>
                            </div>
                      
                      </form>
                  </div>
                </div>

                <div class="tab-pane" id="tab_3">

                    <div class="box-header with-border">
                        <form class="form-horizontal">
                            <div class="box-body">
              
                              <div class="form-group">
                                <label for="password" class="col-sm-3 control-label" style="text-align: left;">Password Lama<span aria-required="true" class="required">*</span></label>
                                <div class="col-sm-9">
                                  <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                              </div>

                              <div class="form-group">
                                  <label for="password" class="col-sm-3 control-label" style="text-align: left;"> Password Baru<span aria-required="true" class="required">*</span></label>
                                  <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label for="password" class="col-sm-3 control-label" style="text-align: left;">Konfirmasi Password<span aria-required="true" class="required">*</span></label>
                                  <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                  </div>
                              </div> 
                              
                              <div class="box-footer">
                                  <button type="submit" class="pull-left btn btn-success pull-right"><i class="glyphicon glyphicon-lock"> </i>Ubah Kata Sandi</button>
                              </div>

                          </div>
                      </form>
                   </div>
                </div>

              </div>           
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->